body {
  background-color: #ffffff;
  margin: 0;
  font: .9em/1.2 Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  grid-template-areas: "conteúdo";
}

.item button{
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1.35vw;
  font-weight: bold;
  cursor: pointer;
  
}

.lista {
  grid-area: conteúdo;
  background-color: var(--color-gray);
  border: 0.2vw solid var(--color-gray-dark);
  z-index: 2;
  border-radius: 1vw;
  padding: 2vh 0vw;
  margin: 7vh 30vw;
  display: grid;
  justify-items: center;
  grid-template-rows: 40% 60%;
  grid-template-areas: 
  "imagem"
  "input";
  animation: form 150ms linear both;
}

.itens {
  grid-area: input;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes form {
	from {
		opacity: 0;
		transform: translateY(-10%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.Admin, .Professor, .Aluno {
  display: none;
  grid-area: input;
  flex-direction: column;
  animation: form 300ms linear both;
}

input[type="username"], input[type="password"], input[type="text"]{
  width: 30vw;
  height: 7vh;
  font-size:1.1vw;
  padding: 0px 2vw;
  border-radius: 1vw;
  margin-top: 1.5vh;
  box-shadow: var(--box-shadow-black);
}

.password{
  position: relative;
}

.eye{
  position: absolute;
  left:28vw;
  top: 3.5vh;
  width: 1.5vw;
  cursor: pointer;
}

.back-sub{
  position: relative;
  justify-content: right;
  margin-top: 1.5vh;
  display: flex;
  flex-direction: row;
}

input[type="submit"], .back-sub button{
  height: 5vh;
  width: 8vw;
  border-radius: 1vw;
  font-size: larger;
  color: #f1f1f1;
  box-shadow: var(--box-shadow-black);
}

.back-sub button{
  background-color: #cc0202;
  margin-right: 1vw;
  cursor: pointer;
}

.back-sub button:hover{
  background-color: #a70101;
}

input[type="submit"]{
  background-color: var(--color-green);
  cursor: pointer;
}

input[type="submit"]:hover{
  background-color: var(--color-dark-green);
}

.item {
  background-color: #c9c9c9;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5vw;
  width: 25vw;
  margin: 2vh 0vw;
}

.item:hover {
  background-color: var(--color-gray-dark);
}

.square {
  position: absolute;
  z-index: 0;
  background-color:  var(--color-dark-green);
  border-radius: 0.4vw;
  width: 3vw;
  height: 3vw;
}

#qdd-1 {
  top: 43%;
  left: 6%;
}

#qdd-2 {
  top: 53%;
  left: 10%;
}

#qdd-3 {
  top: 63%;
  left: 6%;
}

#qdd-4 {
  top: 89%;
  left: 6%;
}

#qdd-5 {
  top: 89%;
  left: 11.8%;
}

#qdd-6 {
  top: 80%;
  left: 17.8%;
}

#qdd-7 {
  top: 80%;
  right: 17.8%;
}

#qdd-8 {
  top: 89%;
  right: 11.8%;
}

#qdd-9 {
  top: 80%;
  right: 6%;
}

#qdd-10 {
  bottom: 88%;
  right: 6%;
}

#qdd-11 {
  bottom: 88%;
  right: 11.8%;
}
#qdd-12 {
  bottom: 80%;
  right: 17.8%;
}

#qdd-13 {
  bottom: 55%;
  right: 10%;
}

#qdd-14 {
  bottom: 40%;
  right: 15%;
}

.lista #img{
  grid-area: imagem;
  user-select: none;
  height: 85%;
}

.logo{
  position: fixed;
  z-index: 1;
  left:1%;
  user-select: none;
  cursor: pointer;
  width: 15%;
}

.logo:hover{
  border: 0.15vw solid black;
  border-radius: 0.1vw;
}
