@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --color-red: #BE1E1F;
    --color-yellow: #FFB900;
    --color-green: #4E9E5B;
    --color-dark-green: #208008;
    --color-orange: #FF6B00;
    --color-blue: #0029FF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #EFEFEF;
    --color-gray-dark: #bdbdbd;
    --box-shadow-black: 4px 4px 15px rgba(0, 0, 0, 0.25);
    --text-shadow-black: 0px 4px 4px rgba(0, 0, 0, 0.5);
    --border-gray: 1px solid rgba(196, 196, 196, 0.25);
    --border-black: 1px solid #000000;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.showModal {
    display: flex !important;
}

body{
    overflow-x: hidden;
}

.Template{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas:
    "nav nav"
    "aside main";
}

nav {
    grid-area: nav;
    height: 10vh;
    margin-bottom: 4vh;
    background-color:var(--color-green);
    position:relative;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    position: relative;
    top: -5%;
    left: 8.5%;
    flex-direction: row;
    list-style-type: none;
    align-items: center; 
    gap: 2vw; 
}

.li-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 0vh 1vw;
    padding: 0.5vh 1.3vw;
    border-radius: 15px;
    background-color: var(--color-gray);
}


.img-nav{
    user-select: none;
    height: 3vw;
    width: 3vw;
}

.li-nav:hover{
    background-color: var(--color-gray-dark);
}

li a{
    user-select: none;
    color:var(--color-black);
    text-decoration: none;
}

.divider {
    position:absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: red;
}
.custom-input {
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    height: 7.5vh;
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
}

.smaller-text {
    font-size: 12px; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 2px;
}

/*input[name='name'] {
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    height: 7.5vh;
    margin-top: 80px;
    margin-left: 1px; 
    margin-bottom: 20px;
    width: 100%;

}
*/
aside {
    
    grid-area: aside;
    height: 72vh;
    margin: 0vh 3vw;
    display: flex;
    flex-direction: column;
    background-color: var(--color-green);
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    padding: 5%;
}

main {
    position: relative;
    grid-area: main;
    height: 52vh;
    margin-right: 3vw;
    display: flex; 
    flex-direction: column;
    background-color: var(--color-gray);
    border-radius: 10px;
    overflow-y: auto;
    padding: 5%;
}

button,
select {
    margin: 1vh;
    height: 7.5vh;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
}

button:hover {
    background-color: var(--color-gray-dark);
}

main {
    grid-area: main;
    height: 72vh;
    margin-right: 3vw;
    background-color: var(--color-gray);
    border-radius: 10px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.button-container-buscar {
    border-radius: 7px;
    justify-content: flex-start;
    height: 7.5vh;
    width: 100%;
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
}

.button-container-Adicionar {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.button-container button {
    margin-left: 1vh;
    margin-bottom: 1vh;
    width: auto;
}

.button-tec {
    margin-top: 10px;
    margin-left: -1vh;
    margin-bottom: 1vh;
    margin-right: 6.5px;
    width: auto;
}

.button-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-left: 1px; 
    width: 100%;
}

@media (max-aspect-ratio: 1/1) {
    .Template {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "nav" "aside" "main";
    }

    select {
        margin: 1vh;
        height: 7.5vh;
        cursor: pointer;
        border-radius: 15px;
        text-align: center;
        background-color: var(--color-white);
        color: var(--color-black);
        font-size: 16px;
        border: none;
        padding: 0.5em;
        box-shadow: var(--box-shadow-black);
        outline: none;
    }

    nav {
        height: 6vh;
    }

    .li-nav {
        padding: 1.5vh 3.5vw;
    }

    main,
    aside {
        margin: 0vh 3vw;
    }

    aside {
        height: 30vh;
        box-shadow: 40px 40px 25px rgba(138, 134, 134, 0.25);
    }

    aside button {
        margin: 0.7vh;
        height: 3.5vh;
    }

    main {
        margin: 2vh;
        height: 60vh;
    }
}
.busca {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 72vh;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    overflow-y: scroll;
}
thead {
    background-color :#208008;
    color: white;
}

td.border-right, th {
    border-right: 1px solid #208008;
}

td, th.border-bottom {
    border-bottom: 1px solid #208008;
}

.button-lixeira {
    display: inline-block;
    background-color: red;
    color: white;
    border: none;
    padding: 3px 4px;
    cursor: pointer;
    margin-right: 4px;
    height: 4vh;
}

.button-lapis {
    display: inline-block;
    background-color: #208008;
    color: white;
    border: none;
    padding: 2px 0px;
    cursor: pointer;
    margin-right: 2px; 
    height: 4vh;
}
.contentsAddTeacher{
    width: 100%;
}